{% extends 'main.html' %}
{% block content %}

<h1>{{customer.first_name}} {{customer.last_name}}</h1>

    <table>
        <tr>
            <th class="pr-3">Store</th>
            <th class="pr-3 pl-3">Staff</th>
            <th class="pr-3 pl-3">Products</th>
            <th class="pr-3 pl-3">Price</th>
        </tr>
        {% for order in orders %}
        <!-- {% if order.cust_id.id == customer %} -->
        <tr>
            <td class="pr-3">{{order.store_staff_id.store_id}}</td>
            <td class="pr-3 pl-3">{{order.store_staff_id.staff_id}}</td>
            <td class="pr-3 pl-3">{% for item in items %}
            {% if item.order_id.id == order.id %}
            {{item.bike_prod_id}}
            {% endif %}
            {% endfor %}</td>
            </tr>
        <!-- {% endif %} -->
        {% endfor %}
    </table>

    <table>
        <tr>
            <th>Customer</th>
            <th>Item</th>
            <th>Employee</th>
            <th>Location</th>
    
    
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{order.cust_id}}</td>
             <td>{% for item in items %}
            {% if item.order_id.id == order.id %}
            {{item.bike_prod_id}}
            {% endif %}
            {% endfor %}</td>
            <td>{{order.store_staff_id.staff_id}}</td>
            <td>{{order.store_staff_id.store_id}}</td>
            <td><a href = "{% url 'PmjoStore:update-order' order.id %}" >Edit</a></td>
            <td><a href = "{% url 'PmjoStore:delete-order' order.id %}" >Delete</a></td>
    
        </tr>
        {% endfor %}
    </table>

{% endblock content %}