{% extends 'main.html' %}
{% block content %}

<a class="button btn btn-info" href="{% url 'PmjoStore:add-customers' %}">Add Customer</a>

<table>
    <tr>
        <th class="pr-3">First Name</th>
        <th class="pr-3 pl-3">Last Name</th>
        <th class="pr-3 pl-3">Phone</th>
        <th class="pr-3 pl-3">Email</th>
        <th class="pr-3 pl-3">Street</th>
    </tr>
    {% for customer in customers %}
    <tr>
        <td class="pr-3">{{customer.first_name}}</td>
        <td class="pr-3 pl-3">{{customer.last_name}}</td>
        <td class="pr-3 pl-3">{{customer.phone}}</td>
        <td class="pr-3 pl-3">{{customer.email}}</td>
        <td class="pr-3 pl-3">{{customer.street}}</td>
        <td><a class="button btn btn-primary" href = "{% url 'PmjoStore:update-customer' customer.id %}" >Edit</a></td>
        <td><a class="button btn btn-info" href = "{% url 'PmjoStore:customer-purchases' customer.id %}" >Purchases</a></td>
        <td><a class="button btn btn-danger" href = "{% url 'PmjoStore:delete-customer' customer.id %}" >Delete</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}