{% extends 'main.html' %}
{% block content %}
<h1>Look Up Page</h1>

<form action="{% url 'PmjoStore:lookup-page' %}" method="get">
    <label for="fromInput#search">Search</label>
    <input type="text" name="search_query" id="fromInput#search" value="{{search_query}}">
    <input type="submit" value="Search">
</form>

<table>
    <tr>
        <th class="pr-3">Store</th>
        <th class="pr-3 pl-3">Phone</th>
        <th class="pr-3 pl-3">Street</th>
        <th class="pr-3 pl-3">City</th>
        <th class="pr-3 pl-3">Zip</th>
        <th class="pr-3 pl-3">Product</th>
        <th class="pr-3 pl-3">Inventory</th>
    </tr>
    <tr>
        {% for stockItem in stockItems %}
        <td class="pr-3">{{stockItem.store_id}}</td>
        <td class="pr-3 pl-3">{{stockItem.store_id.phone}}</td>
        <td class="pr-3 pl-3">{{stockItem.store_id.street}}</td>
        <td class="pr-3 pl-3">{{stockItem.store_id.zipCode_id.city}}</td>
        <td class="pr-3 pl-3">{{stockItem.store_id.zipCode_id.zipCode}}</td>
        <td class="pr-3 pl-3">{{stockItem.bike_prod_id}}</td>
        <td class="pr-3 pl-3">{{stockItem.quantity}}</td>
    </tr>
        {% endfor %}
</table>

{% endblock content %}