{% extends 'main.html' %}
{% block content %}

<a class="btn btn-primary" href="{% url 'PmjoStore:add-order' %}">Place Order</a>
<h1>Current Orders</h1>

<table>
    <tr>
        <th class="pr-5">Customer</th>
        <th class="pr-5 pl-5">Item</th>
        <th class="pr-5 pl-5">Employee</th>
        <th class="pr-5 pl-5">Location</th>


    </tr>
    {% for order in orders %}
    <tr>
        <td class="pr-5">{{order.cust_id}}</td>
         <td class="pr-5 pl-5">{% for item in items %}
        {% if item.order_id.id == order.id %}
        {{item.bike_prod_id}}
        {% endif %}
        {% endfor %}</td>
        <td class="pr-5 pl-5">{{order.store_staff_id.staff_id}}</td>
        <td class="pr-5 pl-5">{{order.store_staff_id.store_id}}</td>
        <td><a class="btn btn-primary" href = "{% url 'PmjoStore:update-order' order.id %}" >Edit</a></td>
        <td><a class="btn btn-danger" href = "{% url 'PmjoStore:delete-order' order.id %}" >Delete</a></td>

    </tr>
    {% endfor %}
</table>
{% endblock content %}