{% extends 'main.html' %}
{% block content %}

<a href="{% url 'PmjoStore:add-order' %}">Place Order</a>
<p>Current Orders</p>


<table>
    <tr>
        <th>Customer</th>
        <th>Item</th>
        <th>Employee</th>
        <th>Location</th>


    </tr>
    {% for order in orders %}
    <tr>
        <td>{{order.cust_id}}</td>
         <td>{% for item in items %}
        {% if item.order_id.id == order.id %}
        {{item.bike_prod_id}}
        {% endif %}
        {% endfor %}</td>
        <td>{{order.store_staff_id.staff_id}}</td>
        <td>{{order.store_staff_id.store_id}}</td>
        <td><a href = "{% url 'PmjoStore:update-order' order.id %}" >Edit</a></td>
        <td><a href = "{% url 'PmjoStore:delete-order' order.id %}" >Delete</a></td>

    </tr>
    {% endfor %}
</table>
{% endblock content %}