{% extends 'main.html' %}
{% block content%}

<h1>Order Details</h1>



<form action="" method="POST">
    {% csrf_token %}

    {% for order in orders %}
    <a class="btn btn-primary mb-1" href="{% url 'PmjoStore:add_item_to_order' pk=order.pk %}">Add Item</a>
    <a class="btn btn-primary mb-1" href="{% url 'PmjoStore:orders-page' %}">Done</a>
    <p>
        <label for="id_order.cust_id">Customer:</label>
        <input type="text" name="name" value = "{{order.cust_id}}" maxlength="100" required id = "id_order.cust_id">
    </p>
    <p>
        <label for="id_employee">Employee:</label>
        <input type="text" name="name" value = "{{order.store_staff_id.staff_id}}" maxlength="100" required id = "id_employee">
    </p>
    <p>
        <label for="id_store">Store:</label>
        <input type="text" name="name" value = "{{order.store_staff_id.store_id}}" maxlength="100" required id = "id_store">
    </p>
    {% for item in items %}
    <p>
        <label for="id_item">Item:</label>
        <select name="name" required id ="id_item">
            <option value="{{item.bike_prod_id}}"> {{item.bike_prod_id}}</option>
        </select>
    </p>
    {% endfor %}
    {% endfor %}

</form>
{% endblock %}