{% extends 'main.html' %}
{% block content%}

<h1>Add Object</h1>

<form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" name="createOrder" value="Create Order">
    <p>Order: {{form2.order_id}}</p>
    <p>Product: {{form2.bike_prod_id}}</p>
    <p hidden="true">Product:
    <select name="bikeChosen" id="" hidden="true">
        {% for bikeChoice in bikeChoices %}
        <option value="">{{bikeChoice.bike_prod_id}}</option>
        {% endfor %}
    </select>
        </p>
    <p>Quantity Sold: {{form2.quantity_sold}}</p>


    <p hidden="true">{{store}}</p>
    <input type="submit" name="addItems" value="Add Item">
    <input type="submit" name="submitForm" value="Done">
</form>
{% endblock %}