{% extends 'main.html' %}
{% block content %}
{{message}}

<h1>Products Template</h1>
<p>SAMPLE TEXT SAMPLE TEXT SAMPLE TEXT</p>
<hr>
<h1>Products</h1>

<table class="product-table">
    <tr>
        <th class="pr-5">Name</th>
        <th class="pr-5 pl-5">Phone</th>
        <th class="pr-5 pl-5">Email</th>
        <th class="pr-5 pl-5">Street</th>
    </tr>
    {% for store in stores %}
    <tr>
        <td class="pr-5">{{store.name}}</td>
        <td class="pr-5 pl-5">{{store.phone}}</td>
        <td class="pr-5 pl-5">{{store.email}}</td>
        <td class="pr-5 pl-5">{{store.street}}</td>
        <td><a class="button btn btn-primary" href="{% url 'PmjoStore:update-product' store.id %}">Edit</a></td>
        <td><a class="button btn btn-danger" href="{% url 'PmjoStore:delete-product' store.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}