{% extends 'main.html' %}
{% block content %}

<h1>Stores</h1>

<table class="product-table">
    <tr>
        <th class="pr-5">Name</th>
        <th class="pr-5 pl-5">Phone</th>
        <th class="pr-5 pl-5">Email</th>
        <th class="pr-5 pl-5">Street</th>
    </tr>
    {% for store in stores %}
    <tr>
        <td class="pr-5">{{store.name}}</td>
        <td class="pr-5 pl-5">{{store.phone}}</td>
        <td class="pr-5 pl-5">{{store.email}}</td>
        <td class="pr-5 pl-5">{{store.street}}</td>
        <td><a class="button btn btn-primary" href="{% url 'PmjoStore:update-product' store.id %}">Edit</a></td>
        <td><a class="button btn btn-danger" href="{% url 'PmjoStore:delete-product' store.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/images/atherton.jpg" alt="Bike" width = 100% height = 480px>
    </div>
    <div class="carousel-item">
      <img src="static/images/canyon.jpg" alt="Chicago" width = 100% height = 480px>
    </div>
    <div class="carousel-item">
      <img src="static/images/Santa-Cruz.jpg" alt="New York" width = 100% height = 480px>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

{% endblock content %}