<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pmjo Bike Shop</title>

    <!--  VENDOR CSS FILES  -->
    <link rel="stylesheet" href="{% static 'vendor/icofont/icofont.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{%static 'css/main.css' %}">
</head>
<body>
    {% include 'navbar.html' %}

    <div class="body-content">
        {% block content %}

        {% endblock content %}

<!--        <i class="glyphicon glyphicon-cog">Footer</i>   #21081a-->

    </div>
<footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
    <i class="icofont-food-cart"></i>
    <i class="icofont-computer"></i>
  <!-- Grid container -->
  <div class="container p-1"></div>
  <!-- Grid container -->
  <!-- Copyright -->
  <div class="text-center p-2"  style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
</body>

</html>