{% extends 'main.html' %}
{% block content %}

{{message}}
<h1>Products Template</h1>
<p>SAMPLE TEXT SAMPLE TEXT SAMPLE TEXT</p>
<hr>
<h1>Products</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Street</th>
    </tr>
    {% for store in stores %}
    <tr>
        <td>{{store.name}}</td>
        <td>{{store.phone}}</td>
        <td>{{store.email}}</td>
        <td>{{store.street}}</td>
        <td><a href = "{% url 'products:update-product' store.id %}" >Edit</a></td>
        <td><a href = "{% url 'products:delete-product' store.id %}" >Delete</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}
